<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h5><strong>{{blog.title}}</strong></h5>
            <h6 id='dateh'><small>{{blog.updatedAt}}</small></h6>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 text-center mx-auto">
            <img class="img-fluid previewimg" src="/imgs/{{blog.img}}" alt="{{blog.img}}" id="{{img}}">
            <h6><small>Current Image: {{blog.img}}</small></h6>

        </div>
        <div class="col-lg-8 blogpost">

            <div class="row">
                <div class="col-12">
                    <form action="/api/blog/edit/{{blog._id}}?_method=PUT" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <label for="title">Blog title</label>
                            <input type="text" value='{{blog.title}}' class="form-control" id="title" name="title">
                        </div>
                        <div class="text-area-div">
                            <div class="form-group">
                                <label for="text">Blog text</label>
                                <textarea class="form-control" id="text" name='text' placeholder="ATTENTION: Leave blog blank if you do not want to change the text body!" rows="3"></textarea>
                                <input name="current_text" type='text' value='{{blog.text}}' id="current_text" hidden>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="imageURL">Blog image</label>
                            <div class="alert alert-secondary" role="alert">
                                <input type="file" name="imageURL" class="form-control-file" id="imageURL">
                                <input name="current_imageURL" type='text' value='{{blog.img}}' id="image-url" hidden>
                            </div>      
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class='text-left ml-auto'>
                                    <button type="submit" class="admin-btn-normal-up"><p><i class="fas fa-plus-square"></i> Update blog post</p></button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class='text-right mr-auto'>
                                    <button type='none' data-toggle="modal" data-target="#exampleModalCenter" class="admin-btn-remove-up"><p><i class="fas fa-trash-alt"></i>  Remove this blog post</p></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{{> alert }}

